#verifica1

In [ ]:
import pandas as pd 
df = pd.read_json("https://raw.githubusercontent.com/wtitze/4E/main/comuni_italiani.json")
df

1. il numero di comuni italiani

In [ ]:
len(set(df["Denominazione in italiano"]))

2. il numero di provincie italiane

In [ ]:
len(set(df["Provincia"]))

3. il numero di provincie per ogni regione

In [ ]:
dfprovincie = df.groupby(["Denominazione Regione", "Provincia"])[["Ripartizione geografica"]].count()
dfprovincie2 = dfprovincie.groupby("Denominazione Regione").count().reset_index()
dfprovincie2

4. numero di comuni per ogni provincia. ordinare decrescente

In [ ]:
dfcomuni = df.groupby("Provincia")[["Denominazione in italiano"]].count().sort_values(by="Denominazione in italiano", ascending = False).reset_index()
dfcomuni

5. la provincia con meno comuni

In [ ]:
dfcomuni[dfcomuni["Denominazione in italiano"] == dfcomuni["Denominazione in italiano"].min()][["Provincia"]]

6. la regione con più provincie

In [ ]:
dfprovincie2[dfprovincie2["Ripartizione geografica"] == dfprovincie2["Ripartizione geografica"].max()][["Denominazione Regione"]]

7. il numero medio di comuni nelle varie province

In [ ]:
df.groupby("Provincia")[["Denominazione in italiano"]].count().mean()

8. fare grafico a barre orizzontali dell'esercizio 3

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
dfprovincie = df.groupby(["Denominazione Regione", "Provincia"])[["Ripartizione geografica"]].count()
dfprovincie2 = dfprovincie.groupby("Denominazione Regione").count().reset_index().sort_values(by="Ripartizione geografica", ascending = False)
regioni = dfprovincie2["Denominazione Regione"]
nProvincie = dfprovincie2["Ripartizione geografica"]

fig, ax = plt.subplots(figsize = (15, 8))
ax.barh(regioni, nProvincie, label="numero di provincie per ogni regione")
ax.legend()

9. fare grafico treemap dell'esercizio 3

In [ ]:
!pip install squarify

In [ ]:
import squarify 
squarify.plot(sizes=nProvincie, label=regioni, alpha=.8, color = ["red", "blue", "green", "orange", "gray"])
plt.axis('off')
plt.show()

10. caricare il secondo file

In [ ]:
df2 = pd.read_csv("https://raw.githubusercontent.com/wtitze/4E/main/netflix_titles.csv")
df2

11. il numero di film (movie)

In [ ]:
len(df2[df2["type"] == "Movie"])

12.  il numero di film di cui non si conosce la nazione

In [ ]:
df2[df2["country"].isnull()]["title"].count()

13. il numero di tv show rilasciati del 2010 al 2015 (estremi compresi)

In [ ]:
df2[(df2["release_year"] >= 2010) & (df2["release_year"] <= 2015)]["title"].count()

14. i titoli delle docuseries

In [ ]:
df2[df2["listed_in"].str.contains("Docuseries")][["title"]]

15. i titoli dei TV show che hanno nel titolo la parola zombie

In [ ]:
df2[df2["title"].str.contains("Zombie")][["title"]]

16. i film che sono stati aggiunti nel settembre 2021

In [ ]:
df2[(df2["date_added"].str.startswith("September")) & (df2["date_added"].str.endswith("2021"))][["title"]]

17. il numero di TV show iniziati in ogni anno

In [ ]:
df2.groupby("release_year")[["title"]].count()

18.  il grafico a barre verticali dell'esercizio 7

In [ ]:
dfanni = df2.groupby("release_year")[["title"]].count().reset_index()
anno = dfanni["release_year"]
nFilm = dfanni["title"]

fig, ax = plt.subplots(figsize = (15, 8))
ax.bar(anno, nFilm, label="numero di film rilasciati in ogni anno")
ax.legend()

19. il grafico a torta dell'esercizio 7

In [ ]:
dfanni = df2.groupby("release_year")[["title"]].count().reset_index()
anno = dfanni["release_year"]
nFilm = dfanni["title"]


plt.figure(figsize=(14, 14))
plt.pie(nFilm, labels = anno , autopct='%1.2f%%')
plt.show()

#verifica 2

In [ ]:
import pandas as pd 
df4 = pd.read_csv("https://raw.githubusercontent.com/wtitze/4E/main/prime_titles.csv", index_col = 0)
df4

1. eliminare tutte le righe che non hanno dati

In [ ]:
df4.drop(df4[df4["Name of the show"].isnull()].index, inplace = True)

2. visualizzare il numero di film per ogni lingua

In [ ]:
df4.groupby("Language")[["Name of the show"]].count()

3. visualizzare il numero di show per ogni anno

In [ ]:
dfanno2 = df4.groupby("Year of release")[["Name of the show"]].count().reset_index()
dfanno2

4. visualizzare gli anni in cui sono stati prodotti più di 50 show

In [ ]:
dfanno2[dfanno2["Name of the show"] > 50][["Year of release"]]

5. visualizzare l'anno in cui sono stati prodotti più show

In [ ]:
dfanno2[dfanno2["Name of the show"] == dfanno2["Name of the show"].max()][["Year of release"]]

6. visualizzare il numero di film drammatici inglesi del 2017

In [ ]:
df4[(df4["Language"] == "English") & (df4["Genre"].str.contains("Drama")) & (df4["Year of release"] == 2017.0	)]["Genre"].count()

7. visualizzare il rating medio dei film di ogni lingua

In [ ]:
df4.groupby("Language")[["IMDb rating"]].mean()

8. visualizzare il grafico a barre verticali dell'esercizio 7

In [8]:
import matplotlib.pyplot as plt

In [ ]:
dati2 = df4.groupby("Language")[["IMDb rating"]].mean().reset_index()
lingue2 = dati2["Language"]
rat2 = dati2["IMDb rating"]

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(lingue2, rat2, label='numero medio di rating per ogni lingua')
ax.set_ylabel("rating")
ax.set_xlabel("lingua")
ax.set_title('numero medio di rating per ogni lingua')
plt.xticks(rotation = 70)
ax.legend()

9. visualizzare il grafico a barre orizzontali dell'esercizio 7

In [ ]:
dati2 = df4.groupby("Language")[["IMDb rating"]].mean().reset_index()
lingue2 = dati2["Language"]
rat2 = dati2["IMDb rating"]

fig, ax = plt.subplots(figsize=(15,8))
ax.barh(lingue2, rat2, label='numero medio di  rating per ogni lingua')
ax.set_xlabel("rating")
ax.set_ylabel("lingua")
ax.set_title('numero medio di rating per ogni lingua')
ax.legend()

10. caricare il secondo file

In [ ]:
import pandas as pd
df5 = pd.read_csv("https://raw.githubusercontent.com/wtitze/4E/main/ristoranti.csv", index_col = 0)
df5

11. eliminare tutte le colonne tranne borough (quartiere), cuisine e name

In [4]:
df5.drop(['address', 'grades', 'restaurant_id'], axis=1, inplace = True)

12. visualizzare il numero di ristoranti dei Queens

In [ ]:
df5[df5["borough"] == "Queens"]["name"].count()

13. visualizzare il numero di ristoranti per ogni quartiere

In [ ]:
df5.groupby("borough")[["name"]].count()

14. visualizzare il numero di tipi di cucina per ogni quartiere

In [ ]:
dfcucina = df5.groupby(["borough", "cuisine"])[["name"]].count() 
dfcucina2 = dfcucina.groupby("borough").count()
dfcucina2

15. visualizzare i ristoranti che hanno la parola bagels nel nome

In [ ]:
df5.loc[df5["name"].str.contains("Bagels", na=False)][["name"]]

16. visualizzare i ristoranti di cui non si conosce il nome

In [ ]:
df5[df5["name"].isnull()]

17. visualizzare il quartiere con meno ristoranti

In [ ]:
dfristoranti = df5.groupby("borough")[["name"]].count().reset_index()
dfristoranti[dfristoranti["name"] == dfristoranti["name"].min()][["borough"]]

18. visualizzare il grafico treemap dell'esercizio 3

In [ ]:
!pip install squarify

In [ ]:
import squarify
dati3 = df5.groupby("borough")[["name"]].count().reset_index()
quartieri = dati3["borough"]
Nristoranti = dati3["name"]
squarify.plot(sizes=Nristoranti, label=quartieri, color=["red","green","blue", "grey", "orange", "yellow"], alpha=.4)
plt.axis('off')
plt.show()

19. visualizzare il grafico a torta dell'esercizio 4

In [ ]:
dati4 = dfcucina2.reset_index()
quartieri2 = dati4["borough"]
Ncucine = dati4["name"]

plt.figure(figsize=(16, 8))
plt.pie(Ncucine, labels = quartieri2, autopct = '%1.2f%%') 
plt.show()

#verifica 3

In [ ]:
import pandas as pd

In [ ]:
df3 = pd.read_csv("https://raw.githubusercontent.com/wtitze/4E/main/prime_titles.csv")
df3

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+
...,...,...,...,...,...,...,...,...
399,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,404,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. visualizzare le serie TV che hanno più di due stagioni

In [ ]:
df3[df3["No of seasons available"] >= 2.0][["Name of the show"]]

2.  visualizzare il numero di film per ogni lingua

In [ ]:
df3.groupby("Language")[["Name of the show"]].count()

3. visualizzare il numero di show per ogni anno

In [ ]:
dfanni = df3.groupby("Year of release")[["Name of the show"]].count().reset_index()
dfanni

4. visualizzare gli anni in cui sono stati prodotti meno di 40 show

In [ ]:
dfanni[dfanni["Name of the show"] < 40][["Year of release"]]

5. visualizzare l'anno in cui sono stati prodotti più show

In [ ]:
dfanni[dfanni["Name of the show"] == dfanni["Name of the show"].max()][["Year of release"]]

6.  visualizzare il numero di commedie in hindi del 2017

In [ ]:
len(df3[(df3["Genre"].str.contains("Comedy")) & (df3["Language"] == "Hindi") & (df3["Year of release"] == 2017)])

7. visualizzare il rating medio dei film di ogni lingua

In [ ]:
df3.groupby("Language")[["IMDb rating"]].mean()

8. visualizzare il grafico a barre verticali dell'esercizio 7

In [ ]:
import matplotlib.pyplot as plt
     

dati = df3.groupby("Language")[["IMDb rating"]].mean().reset_index()
lingue = dati["Language"]
rat = dati["IMDb rating"]

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(lingue, rat, label='numero medio di rating per ogni lingua')
ax.set_ylabel("rating")
ax.set_xlabel("lingua")
ax.set_title('numero medio di rating per ogni lingua')
plt.xticks(rotation = 70)
ax.legend()

9. visualizzare il grafico a barre orizzontali dell'esercizio 7

In [ ]:
dati = df3.groupby("Language")[["IMDb rating"]].mean().reset_index()
lingue = dati["Language"]
rat = dati["IMDb rating"]

fig, ax = plt.subplots(figsize=(15,8))
ax.barh(lingue, rat, label='numero medio di  rating per ogni lingua')
ax.set_xlabel("rating")
ax.set_ylabel("lingua")
ax.set_title('numero medio di rating per ogni lingua')
ax.legend()