<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/EsercizioListeScudetti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

inserire nella struttura dati corretta le squadre di serie a e gli scudetti corrispondenti

In [37]:
squadre = ["Juventus", "Inter", "Milan", "Napoli", "Roma", "Lazio", "Atalanta", "Sassuolo", "Fiorentina", "Udinese", "Verona", "Spezia", "Torino", "Empoli", "Lecce", "Monza", "Cremonese", "Salernitana", "Bologna", "Sampdoria"]
scudetti = [36, 19, 19, 2, 3, 2, 0, 0, 2, 0, 1, 0, 7, 0, 0, 0, 0, 0, 7, 1]

calcolare la somma degli scudetti

In [38]:
print(sum(scudetti))

99

calcolare max e min scudetti

In [39]:
print(max(scudetti))
print(min(scudetti))

36
0

calcolare media scudetti

In [40]:
from statistics import mean
print(mean(scudetti))

4.95

mostrare le squadre che hanno vinto più scudetti della media

In [46]:
mediaScudetti = mean(scudetti)
for nScudetti in scudetti:
  if nScudetti > mediaScudetti:
    print(squadre[scudetti.index(nScudetti)])

Juventus
Inter
Inter
Torino
Torino

mostrare il numero di squadre in seria a

In [16]:
print(len(squadre))

20

invertire la lista scudetti

In [22]:
scudetti.reverse()
print(scudetti)

[1, 7, 0, 0, 0, 0, 0, 7, 0, 1, 0, 2, 0, 0, 2, 3, 2, 19, 19, 36]

controllare se il 100 è presente nella lista scudetti

In [26]:
100 in scudetti

False

ESERCIZIO NUMERO 2

caricare in una lista 10 numeri casuali compresi tra 1 e 50

In [8]:
import random
lista = [random.randint(1, 50) for num in range(10)]
print(lista)

[39, 22, 3, 50, 44, 5, 41, 21, 25, 39]

fare la somma degli elementi della lista, poi trovare la media

In [3]:
print(sum(lista))
from statistics import mean
print(mean(lista))

347
34.7

trovare gli elementi pari della lista e caricarli in un'altra e fare lo stesso coi numeri dispari

In [9]:
listaPari = []
listaDispari = []
for valore in lista:
  if valore % 2 == 0:
    listaPari.append(valore)
  else:
    listaDispari.append(valore)
print(listaPari)
print(listaDispari)

[22, 50, 44]
[39, 3, 5, 41, 21, 25, 39]

aumentare tutti i numeri di 2 dalla posizione 3 alla posizione 8

In [11]:
lista[3:9] = [lista[i] + 2 for i in range(3, 9)]
print(lista)

[39, 22, 3, 52, 46, 7, 43, 23, 27, 39]

contare i numeri pari e i numeri dispari

In [12]:
print(len(listaPari))
print(len(listaDispari))

3
7

eliminare il contenuto di tutte le liste

In [ ]:
lista.clear()
listaPari.clear()
listaDispari.clear()