<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/LotortoVerifica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#esercizio 1

In [ ]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/wtitze/4E/main/prime_titles.csv", index_col = 0)
df

,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
S.no.,,,,,,,
1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+
...,...,...,...,...,...,...,...
400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. eliminare tutte le righe che non hanno dati

In [185]:
df.drop(df[df["Name of the show"].isnull()].index, inplace = True)

2. visualizzare il numero di film per ogni lingua

In [ ]:
df.groupby("Language")[["Name of the show"]].count()

3. visualizzare il numero di show per ogni anno

In [ ]:
dfanno = df.groupby("Year of release")[["Name of the show"]].count().reset_index()
dfanno

4. visualizzare gli anni in cui sono stati prodotti più di 50 show

In [ ]:
dfanno[dfanno["Name of the show"] > 50][["Year of release"]]

5. visualizzare l'anno in cui sono stati prodotti più show

In [ ]:
dfanno[dfanno["Name of the show"] == dfanno["Name of the show"].max()][["Year of release"]]

6.  visualizzare il numero di film drammatici inglesi del 2017

In [ ]:
df[(df["Language"] == "English") & (df["Genre"].str.contains("Drama")) & (df["Year of release"] == 2017.0	)]["Genre"].count()

7. visualizzare il rating medio dei film di ogni lingua

In [ ]:
df.groupby("Language")[["IMDb rating"]].mean()

8. visualizzare il grafico a barre verticali dell'esercizio 7

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
dati = df.groupby("Language")[["IMDb rating"]].mean().reset_index()
lingue = dati["Language"]
rat = dati["IMDb rating"]

fig, ax = plt.subplots(figsize=(15,8))
ax.bar(lingue, rat, label='numero medio di rating per ogni lingua')
ax.set_ylabel("rating")
ax.set_xlabel("lingua")
ax.set_title('numero medio di rating per ogni lingua')
plt.xticks(rotation = 70)
ax.legend()

9. visualizzare il grafico a barre orizzontali dell'esercizio 7

In [ ]:
dati = df.groupby("Language")[["IMDb rating"]].mean().reset_index()
lingue = dati["Language"]
rat = dati["IMDb rating"]

fig, ax = plt.subplots(figsize=(15,8))
ax.barh(lingue, rat, label='numero medio di  rating per ogni lingua')
ax.set_xlabel("rating")
ax.set_ylabel("lingua")
ax.set_title('numero medio di rating per ogni lingua')
ax.legend()

#esercizio 2

In [ ]:
df2 = pd.read_csv("https://raw.githubusercontent.com/wtitze/4E/main/ristoranti.csv", index_col = 0)
df2

1. eliminare tutte le colonne tranne borough (quartiere), cuisine e name

In [ ]:
df2.drop(['address', 'grades', 'restaurant_id'], axis=1, inplace = True)

2. visualizzare il numero di ristoranti dei Queens

In [ ]:
df2[df2["borough"] == "Queens"]["name"].count()

3. visualizzare il numero di ristoranti per ogni quartiere

In [ ]:
df2.groupby("borough")[["name"]].count()

4. visualizzare il numero di tipi di cucina per ogni quartiere

In [ ]:
df2.groupby("borough")[["cuisine"]].count()

5. visualizzare i ristoranti che hanno la parola bagels nel nome

In [ ]:
df2.loc[df2["name"].str.contains("Bagels", na=False)][["name"]]

6. visualizzare i ristoranti di cui non si conosce il nome

In [ ]:
df2[df2["name"].isnull()]

7. visualizzare il quartiere con meno ristoranti

In [ ]:
dfristoranti = df2.groupby("borough")[["name"]].count().reset_index()
dfristoranti[dfristoranti["name"] == dfristoranti["name"].min()][["borough"]]

8. visualizzare il grafico treemap dell'esercizio 3

In [187]:
!pip install squarify

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: squarify in /usr/local/lib/python3.8/dist-packages (0.4.3)

In [ ]:
import squarify
dati2 = df2.groupby("borough")[["name"]].count().reset_index()
quartieri = dati2["borough"]
Nristoranti = dati2["name"]
squarify.plot(sizes=Nristoranti, label=quartieri, color=["red","green","blue", "grey", "orange", "yellow"], alpha=.4)
plt.axis('off')
plt.show()

9. visualizzare il grafico a torta dell'esercizio 4

In [ ]:
dati3 = df2.groupby("borough")[["cuisine"]].count().reset_index()
quartieri2 = dati3["borough"]
Ncucine = dati3["cuisine"]

plt.figure(figsize=(16, 8))
plt.pie(Ncucine, labels = quartieri2, autopct = '%1.2f%%') 
plt.show()