<a href="https://colab.research.google.com/github/Riccardolotorto/riepilogoPandasMatplotlibStrutturedati/blob/main/programma_informatica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python base

inserimento dati, visualizzazione dati

In [ ]:
nome = input("inserisci il tuo nome ") #input string
print("ciao " + nome)

In [ ]:
peso = int(input("inserisci il tuo peso ")) #input integer
print("il tuo peso è " + str(peso))

In [ ]:
altezza = float(input("inserisci la tua altezza ")) #input float
print("la tua altezza è " + str(altezza))

tipi di dati (interi, float, stringhe, booleani, ...)

In [ ]:
#creo variabili di tipo diverso (integer, string, float e boolean)
a = 5
stringa = "ciao"
bol = True 
deciamale = 6.7
print(a)
print(stringa)
print(bol)
print(peso)

scambiare i valori di due variabili

In [ ]:
aa = 10
bb = 20
aa, bb = bb, aa  #scambio i valori delle due variabili 
print(aa)
print(bb)

assegnare lo stesso valore a più variabili

In [ ]:
x = y = z = 0 #assegno il valore 0 a 3 variabili diverse 
print(x, y, z)

0 0 0

operazioni matematiche fondamentali (somma, sottrazione, moltiplicazione, divisione tra interi e tra reali, resto, elevamento a potenza, ...)

In [ ]:
n1 = 4
n2 = 5
n3 = n1 + n2 #addizione 
print(n3)
n4 = n2 - n1 #sottrazione 
print(n4)
n5 = n1 * n2 #moltiplicazione 
print(n5)

In [ ]:
n6 = 10
n7 = 5
n8 = 10 / 5 #divisione
print(n8)

n9 = 10 
n10 = 4
n11 = n9 // n10  #divisione intera
print(n11)

In [ ]:
pow(2, 3) #primo valore è la base, il secondo è l'esponente

8

In [ ]:
numero1 = 10
numero2 = 8
numero1 % numero2 #calcola il resto tra 10/8

2

selezione (if, if else, elif)

In [ ]:
num1 = 50 
num2 = 50
if num2 > num1: #condizione 
  print("num2 è maggiore di num1")
elif num1 == num2: #altra condizione 
  print("i due numeri sono uguali")
else: #altrimenti
  print("num1 è maggiore di num2")

i due numeri sono uguali

operatori per il confronto tra variabili (uguale, diverso, maggiore, minore, minore uguale, ...)

In [ ]:
# ==
# !=
# >
# <
# >=
# <=

operatori logici (and, or, not)

In [ ]:
if 4 > 2 and 3 > 1: #and: tutte le condizioni devo essere vere
  print("vero") 
else:
  print("falso")

vero

In [ ]:
if 4 == 4 or 5 > 100: #or: almeno una delle due condizioni deve essere vera
  print("vero")
else:
  print("falso")

In [ ]:
t = True
print(not t) #not: cambia il valore da true a false o viceversa

False

operatori di appartenenza (in, not in)

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
if 2 in lista:   #controllo se il valore c'è nella lista
  print("presente")
else:
  print("non è presente")

presente

In [ ]:
if 100 not in lista:
  print("non è presente")

non è presente

cicli (while, for)

In [ ]:
seq = [1, 2, 3, 4, 5]
for n in seq:   #n assume tutti i valori della lista
  print('Il quadrato di', n, 'è', n**2)

In [ ]:
for i in range(5):
  print(i)
#mostro una variabile che assume 5 valori (da 0 a 4)

In [ ]:
n = 0
while n < 5:
    n += 1
    print(n)

generazione di numeri casuali (interi, float), range()

In [ ]:
import random #importo la libreria random 
numero_casuale = random.randint(30, 101) #crea un numero casuale inteto (nelle parentesi c'è il range entro il quale sarà il numero casuale)
print(numero_casuale)
numero_cas_float = random.uniform(30.67, 150.89) #uniform: genera un numero casuale decimale
print(numero_cas_float)

53
83.55352679928599

determinazione tempo di esecuzione di un programma

In [ ]:
import time
start = time.time()
if 100 > 50:
  print("maggiore")
else:
  print("minore")
end = time.time()
print(end - start)

#Strutture dati

liste (creazione anche con list comprehension, inserimento, modifica, cancellazione, visualizzazione, ricerca, metodi specifici)

In [ ]:
#creazione di una lista
lista = [10, 20, 30, 40]
print(lista)

[10, 20, 30, 40]

In [ ]:
#creazione di una lista
lista2 = list((100, 200, 300, 400))
print(lista2)

[100, 200, 300, 400]

In [ ]:
#creazione di una lista con list comprehension
lista3 = [num for num in range(50)]
print(lista3)

In [ ]:
#creazione di una lista mista 
listaMista = [True, "riccardo", 500, False, "hello"]
print(listaMista)

In [ ]:
#visualizzare il primo elemento della lista 
listaMista[0]

In [ ]:
#visualizzare l'ultimo elemento della lista 
listaMista[-1]

In [ ]:
#visualizzare dal secondo al quarto elemento (slicing)
listaMista[1:4] #il secondo parametro è -1

In [ ]:
#visualizzare tutti gli elementi di una lista 
for elemento in listaMista:
  print(elemento)

In [ ]:
#visualizzare tutti gli elementi di una lista (metodo usando l'indice)
for indice in range(len(listaMista)):
  print(listaMista[indice])

In [ ]:
listaProva = [300, 45.6, 700, 1249, 1, 5]
print(listaProva)

In [ ]:
#aggiungere un elemento alla lista
listaProva.append(10) #append aggiunge l'elemento alla fine della lista
print(listaProva)

In [ ]:
#aggiungere un elemento usando insert
listaProva.insert(1, 1000) #il metodo insert è composto da due parametri: indice, elemento che voglio aggiungere
print(listaProva)

In [ ]:
#modificare un elemento di una lista
listaProva[0] = 900  #modifica l'elemento in posizione 0
print(listaProva)

In [ ]:
#rimuovere elementi da una lista
listaProva.remove(1) #nel metodo remove bisogna specificare l'elemento che si vuole rimuovere. SE CI DOVESSERO ESSERE ELEMENTI UGUALI ALL'INTERNO DELLA LISTA, VIENE RIMOSSO SOLO IL PRIMO (PRIMA OCCORRENZA)
print(listaProva)

[900, 1000, 45.6, 700, 1249, 5, 10]

In [ ]:
#rimuovere usando del
del listaProva[1] #nel metodo del bisogna specificare l'indice dell'elemento che si vuole rimuovere
print(listaProva)

In [ ]:
#rimuovere usando pop
listaProva.pop(0) #nel metodo pop bisogna specificare l'indice dell'elemento che si vuole rimuovere
print(listaProva)

[45.6, 700, 1249, 5, 10]

In [ ]:
#fare la ricerca di un elemento in una lista
if 1000 in listaProva:
  print("presente")
else:
  print("non presente")

non presente

In [ ]:
listaMetodi = [15, 30, 45, 60, 75, 90, 105, 1]
print(listaMetodi)

In [ ]:
#trovare il massimo in questa lista
max(listaMetodi)

In [ ]:
#trovare il minimo in questa lista
min(listaMetodi)

In [ ]:
#trovare la somma di questa lista
sum(listaMetodi)

In [ ]:
#trovare la media di questa lista
from statistics import mean
mean(listaProva)

In [ ]:
#mettere insieme più liste 
listaNumero1 = ["ciao", True, 40]
listaNumero2 = [150, False, "Maurizio"]
listaSomma = listaNumero1 + listaNumero2
print(listaSomma)

In [ ]:
#creare una lista di 100 numeri casuali usando la list comprehension
import random
listaCasuale = [random.randint(1, 101) for numero in range(100)]
print(listaCasuale)

In [ ]:
#trovare la lunghezza di una lista 
len(listaCasuale)

tuple (creazione anche con list comprehension, inserimento, modifica, cancellazione, visualizzazione, ricerca, metodi specifici)

https://github.com/Riccardolotorto/riepilogoPandasMatplotlibStrutturedati/blob/main/Copia_di_tuple.ipynb

set (creazione anche con list comprehension, inserimento, modifica, cancellazione, visualizzazione, ricerca, metodi specifici)

https://github.com/Riccardolotorto/riepilogoPandasMatplotlibStrutturedati/blob/main/InsiemiPython.ipynb

dizionari (creazione anche con list comprehension, inserimento, modifica, cancellazione, visualizzazione, ricerca, metodi specifici)

https://github.com/Riccardolotorto/riepilogoPandasMatplotlibStrutturedati/blob/main/Copia_di_Dizionari.ipynb

https://github.com/Riccardolotorto/riepilogoPandasMatplotlibStrutturedati/blob/main/Python_dizionari.ipynb

criteri per la scelta della struttura dati più adatta all'applicazione

In [ ]:
#una tupla si usa quando si devono salvare valori permanenti e che non devono essere modificati (es: codici fiscali o costanti matematiche)
#un insieme (set) viene usato per eliminare i duplicati o per fare operazione di unione o intersezione 
#un dizionario viene usato per inserire più dati per (es. identificare) una persona con coppie di chiavi e valori (nome: riccardo, cognome: lotorto)
#una lista si usa per salvare dei dati che verranno sicuramente modificati, infatti, con una lista si possono fare molte operazioni di aggiunta, modifica e rimozione

#Pandas

creazione del dataframe da file di tipo diverso

In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/wtitze/4E/main/ristoranti.csv") #uso read_csv perchè il file su cui devo lavorare è di tipo csv
df

In [ ]:
#esistono anche altri tipi di lettura dei file: read_json(file json), read_excel(file excel)

eliminazione di righe (più metodi se possibile)

In [ ]:
df.drop(0, inplace = True) #lo 0 è l'indice della riga che voglio rimuovere. Inplace true vuol dire che l'eliminazione è definitiva

In [ ]:
df #mostrando il dataframe notiamo che la riga eliminato non c'è più

eliminazione di colonne (più metodi se possibile)

In [ ]:
df.drop("address", axis = 1, inplace = True) #address è il nome della colonna che vogliamo rimuovere. Axis 1 indica che si tratta di una colonna che non è quella dell'indice

In [ ]:
df

eliminazione di valori nulli (più metodi se possibile)

In [ ]:
df.drop(df[df["name"].isnull()].index, inplace = True) #il primo parametro sono gli indici dei valori nulli del nome, quindi quelle righe verranno eliminate

In [ ]:
df

selezione di una serie di righe (più metodi se possibile)

In [ ]:
#mostrare le prime 5 righe 
df.head()

In [ ]:
#mostrare le ultime 5 righe 
df.tail()

In [ ]:
#mostro delle righe dalla 10 alla 20
df[10:21]

In [ ]:
#mostro delle righe dalla 10 alla 20 usando iloc
df.iloc[10:21]

In [ ]:
#trovo le righe in base ad una condizione 
df[df["borough"] == "Manhattan"].index

selezione di una serie di colonne (più metodi se possibile)

In [ ]:
#mostro delle colonne precise
df[["borough", "cuisine"]]

In [ ]:
#mostro una colonna come dataframe 
df[["borough"]]

In [ ]:
#mostro una colonna come serie
df["borough"]

ricerca di valori in una colonna (più metodi se possibile)

In [ ]:
#ricerca di valori con una condizione 
df[df["restaurant_id"] > 40356151] #mostro tutte le colonne

In [ ]:
#ricerca di valori con una condizione 
df[df["restaurant_id"] > 40356151][["name"]] #mostro sono la colonna name

In [ ]:
#ricerca di valori con una condizione 
df[df["restaurant_id"] > 40356151][["name", "borough"]] #mostro due colonne: name e borough

In [ ]:
#ricerca di valori con due o più condizioni con and (&)
df[(df["restaurant_id"] > 40356151) & (df["borough"] == "Manhattan")][["name"]]    #ogni condizione deve essere messa tra le parentesi tonde (mostro solo la colonna name)

In [ ]:
#ricerca di valori con due o più condizioni con or (|)
df[(df["borough"] == "Brooklyn") | (df["borough"] == "Manhattan")][["name"]]  #in questo caso troverò i ristoranti in questi due quartieri (mostro solo la colonna name)

trasformare delle colonne di un dataframe in altre strutture dati (liste, insiemi e dizionari)

In [ ]:
df["restaurant_id"] #serie

In [ ]:
idRistoranti = list(df["restaurant_id"]) #trasformo la serie in una lista
print(idRistoranti)

In [ ]:
setIdRistoranti = set(idRistoranti) #trasformo la serie in un insieme per eliminare i duplicati 
print(setIdRistoranti)

In [ ]:
print(len(idRistoranti))
print(len(setIdRistoranti))
#le lunghezze sono uguali perchè in questo caso non ci sono duplicati, quindi l'insieme non viene "accorciato"

ricerca di sottotsringhe in una colonna

In [ ]:
#ricerca di una stringa usando contains
df[df["name"].str.contains("Pizzeria", na= False)][["name"]] #na = False serve per non considerare i valori nulli presenti nella colonna su cui sto facendo una condizione

In [ ]:
#ricerca di una stringa usando startswith 
df[df["name"].str.startswith("Pizzeria", na= False)][["name"]] #na = False serve per non considerare i valori nulli presenti nella colonna su cui sto facendo una condizione

In [ ]:
#ricerca di una stringa usando endswith 
df[df["name"].str.endswith("Restaurant", na= False)][["name"]] #na = False serve per non considerare i valori nulli presenti nella colonna su cui sto facendo una condizione

gestione delle date (da string a datetime e viceversa)

In [ ]:
#uso un altro dataframe (usando un file csv) per usare il datatime
dfData = pd.read_csv('https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/consegne-vaccini-latest.csv') 
dfData

In [78]:
#importo le librerie necessarie
import datetime
from dateutil.relativedelta import relativedelta  
sdata = datetime.datetime.now() - relativedelta(months = 6) # calcola la data di 6 mesi fa
datas = pd.to_datetime(dfData.data_consegna, format="%Y-%m-%d") # crea una serie contenente le date in forma di datetime

In [ ]:
print(datas) #le date sono diventate in forma di datatime e non più in forma di serie

In [ ]:
#trasformare da datatime in stringhe 
datas = datas.astype(str)   #trasforma da datatime ad una serie di pandas
print(type(datas))

In [ ]:
print(datas)

funzioni di aggregazione (count, min, max, sum, mean)

In [ ]:
dfData[dfData["numero_dosi"] == dfData["numero_dosi"].max()].index    #trova la riga dove il numero di dosi è il maggiore

In [ ]:
dfData[dfData["numero_dosi"] == dfData["numero_dosi"].min()].index  #trova la riga dove il numero di dosi è il minore

In [ ]:
dfData[dfData["numero_dosi"] > dfData["numero_dosi"].mean()].index #trova le righe dove il numero di dosi è superiore alla media

In [ ]:
dfData["numero_dosi"].sum() #calcola la somma del numero di dosi

groupby

In [ ]:
#groupby serve per raggruppare una determinata colonna per fare delle operazioni (tipo il numero di dosi per ogni fornitore)

In [ ]:
#il numero di dosi per ogni fornitore
dfData.groupby("forn")[["numero_dosi"]].sum().reset_index() #reset_index serve per mettere la colonna dell'indice standard (quella numerica)

In [ ]:
#il numero di dosi per ogni fornitore ordinato in modo decrescente sul numero di dosi
dfData.groupby("forn")[["numero_dosi"]].sum().sort_values(by="numero_dosi", ascending = False).reset_index()

In [ ]:
#ESEMPIO IMPORTANTE
#il numero di tipi di cucina per ogni quartiere
dfCucine = df.groupby(["borough", "cuisine"])[["name"]].count()  #in questo caso raggruppo due colonne perchè altrimenti conterebbe il numero di ristoranti dato che ogni riga rappresenta un ristorante diverso, quindi devo fare un'altra operazione
dfCucine2 = dfCucine.groupby("borough").count()  #creo un altro dataframe che contine il groupby di un altro dataframe.groupby (quindi un groupby dentro un altro groupby)
dfCucine2

In [ ]:
#fare un groupby su una condizione
dfData[dfData["ISTAT"] >= 10].groupby("reg")[["numero_dosi"]].sum()

#Matplotlib

grafico a barre orizzontali

In [82]:
import matplotlib.pyplot as plt #importo la libreria corretta

In [ ]:
fig, ax = plt.subplots(figsize=(20,15))    #crea la forma dove dentro ci sarà il grafico
ax.barh("stringhe", "dati")  #qui vengono inseriti i dati (prima le stringhe, poi i dati numerici)   P.S: in questo caso dà errore perchè i dati non sono presenti, ma servono per l'esempio 
ax.set_title('titolo')  #setta il titolo del grafico 
ax.set_ylabel('titolo y')  #setta il titolo sull'asse y 
ax.set_xlabel('titolo x') #setta il titolo sull'asse x
ax.legend() #serve per mettere la legenda

grafico a barre verticali

In [ ]:
fig, ax = plt.subplots(figsize=(20,15))    #crea la forma dove dentro ci sarà il grafico
ax.bar("stringhe", "dati")  #qui vengono inseriti i dati (prima le stringhe, poi i dati numerici)   P.S: in questo caso dà errore perchè i dati non sono presenti, ma servono per l'esempio 
ax.set_title('titolo')  #setta il titolo del grafico 
ax.set_ylabel('titolo y')  #setta il titolo sull'asse y 
ax.set_xlabel('titolo x') #setta il titolo sull'asse x
ax.legend() #serve per mettere la legenda
plt.xticks(rotation=90) #serve per mettere i nomi in verticale

In [ ]:
# color = ["blue", "red", "yellow"]  setta i colori delle barre

grafico a torta

In [ ]:
plt.figure(figsize=(14, 10))   #crea la figura 
plt.pie("dati", labels="stringhe", autopct='%1.1f%%') #crea il grafico a torta (prima i dati e poi le stringhe). Autopct = %1.1f%% serve per inserire le percentuali
plt.show()

altri tipi di grafici

In [ ]:
#grafico treemap

In [ ]:
!pip install squarify

In [ ]:
import squarify
squarify.plot(sizes="dati", label="stringhe", alpha=.8 )  #creo il grafico (alpha è l'opacità dei colori)
plt.axis('off')
plt.show()