<a href="https://colab.research.google.com/github/Riccardolotorto/riepilogoPandasMatplotlibStrutturedati/blob/main/StruttureDatiRipasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#liste

1. inserire in una lista 100 numeri casuali compresi fra 10 e 200

In [ ]:
import random

In [ ]:
listaCasuale = [random.randint(10, 201) for num in range(100)]
print(listaCasuale)

2. trovare i multipli di 5 nella lista precedente e aggiungerli in un'altra lista

In [ ]:
listaMultipli5 = [listaCasuale[indice] for indice in range(len(listaCasuale)) if listaCasuale[indice] % 5 == 0]
print(listaMultipli5)

3. creare due liste e fare la somma tra il primo col primo e via dicendo. Inserire i risultati in un'altra lista

In [ ]:
lista1 = [10, 4, 5, 9, 12]
lista2 = [30, 5, 6, 14, 20]
listaSomma = [lista1[i] + lista2[i] for i in range(len(lista1))]
print(listaSomma)

4. creare una lista di 10 elementi

In [1]:
lista10 = [20, 100, 30, 2, "ciao", "pera", False, 70, 56, True]

In [ ]:
#visualizzare il primo elemento
lista10[0]

In [ ]:
#visualizzare l'ultimo elemento
lista10[-1]

In [ ]:
#visualizzare i quattro elementi centrali
lista10[(len(lista10)//2) - 2:(len(lista10)//2) + 2]

5. creare una lista di nomi e una con le età rispettive delle persone

In [7]:
listaNomi = ["riccardo", "anna", "luca", "aurora"]
listaEta = [16, 24, 56, 10]

In [ ]:
#trovare l'età corrispondente del nome inserito 
nomeInserito = input("inserire un nome: ")
print(listaEta[listaNomi.index(nomeInserito)])

In [ ]:
#visualizzare il nome del più vecchio
print(listaNomi[listaEta.index(max(listaEta))])

#insiemi

https://github.com/Riccardolotorto/riepilogoPandasMatplotlibStrutturedati/blob/main/EserciziRiapassoInsiemi_e_dizionari.ipynb

#dizionari

1. creare un dizionario che contenga tre chiavi: nome, sesso ed età

In [ ]:
dizionario = {
    "nome":"riccardo",
    "sesso":"maschio",
    "eta":16
}
print(dizionario)

2. visualizzare tutti i valori

In [ ]:
for value in dizionario.values():
  print(value)

3. visualizzare il valore della chiave nome

In [ ]:
dizionario.get("nome")

4. visualizzare "maggiorenne" o "minorenne" in base all'età

In [ ]:
if dizionario["eta"] > 18:
  print(dizionario["nome"] + " è maggiorenne")
else:
  print(dizionario["nome"] + " è minorenne")

**lista di dizionari**

1. creare una lista di dizionari. Essa deve contenere 3 dizionari con tre chiavi: nome, cognome e numero di telefono

In [18]:
persone = [
    {
       "nome":"riccardo",
       "cognome":"lotorto",
       "telefono": [8754574857948, 457078738, 4875498485]
    },
    {
       "nome":"gianmaria",
       "cognome":"rossi",
       "telefono": [75686578678, 67586568, 5685986956]
    },
    {
       "nome":"gianluca",
       "cognome":"fucile",
       "telefono": [345778787, 5657676, 45656565]
    },
]

2. visualizzare tutti i cognomi

In [ ]:
for persona in persone:
  print(persona["cognome"])

3. visualizzare il primo telefono del nome inserito dall'utente

In [21]:
nome = input("inserire un nome: ")
for persona in persone:
  if nome == persona["nome"]:
    print(persona["telefono"][0])

inserire un nome: riccardo
8754574857948

4. aggiungere un dizionario alla prima persona

In [23]:
personeBis = [
    {
       "nome":"riccardo",
       "cognome":"lotorto",
       "telefono": [8754574857948, 457078738, 4875498485],
       "genitori": {
           "mamma":"vittoria",
           "papà":"luca"
       }
    },
    {
       "nome":"gianmaria",
       "cognome":"rossi",
       "telefono": [75686578678, 67586568, 5685986956]
    },
    {
       "nome":"gianluca",
       "cognome":"fucile",
       "telefono": [345778787, 5657676, 45656565]
    },
]

5. visualizzare il nome del papa di riccardo

In [ ]:
print(personeBis[0]["genitori"]["papà"])